header{
    padding-top: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

header > div > img {
    width: 40px;
    position: absolute;
    left: 33%;
    top: 33%;

}

#circle{
    width: 120px;
    height: 120px;
    border: 1px solid white;
    border-radius: 75px;
    position: relative;
    margin-bottom: 0px;
}

header > table{
    width: 100%;
    margin-top: 0px;
    border-collapse: collapse;
}

header > table td:first-of-type{
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 3.5rem;
}
header > table td:last-of-type{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}