@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

:root{
    --grayText:rgb(203, 199, 199);
}

body{   
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/resources/bg.jpg");
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0.5rem;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    color: var(--grayText);
    text-align: justify;
    font-weight: 100;
}

p > a {
    color: var(--grayText);
    text-decoration-style:dotted;    
    text-underline-offset: 4px;
}

p > a:hover{
    color:rgba(151, 151, 255, 0.689);
}

#hero{
    text-align: center;
    color: white;
}

#hero > h1 {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 4px;
}

#hero > p {
    line-height: 1.5rem;
}

#hero > table{
    width: 100%;
    margin-top: 0px;
    border-collapse: collapse;
    margin-top: 3.5rem;

}

#hero > table td:first-of-type{
    border-top: 1px solid white;
    border-right: 1px solid white;
    height: 3.5rem;
}

#hero > table td:last-of-type{
    border-top: 1px solid white;
    border-left: 1px solid white;
}

#info button{
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    width: 100%;
    color: var(--grayText);
    font-weight: 100;
    padding: 0.5rem 0rem;
}

#info button:first-child{
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
#info button:last-child{
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

#info button:hover{
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

@media only screen and (min-width: 670px){
    #hero > p {
        text-align: center;
    }
}
@media only screen and (min-width: 900px){
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #hero{
        width: 100%;
    }
    #info{
        display: flex;
        width: 800px;
        justify-content: center;
        align-items: center;
    }
    #info > button{
    padding: 1rem 0rem;
    margin-bottom: 10rem;
    }
    #info button:first-child{
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        border-top-right-radius: 0rem;
    }
    #info button:last-child{
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }
}