#modal{
    padding: 3rem 2rem;
    background-color: rgba(0, 0, 0, 0.784);
    position: absolute;
    top: 0;
    height: 100%;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#modal > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#modal > div > h1{
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 4px;
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1.5rem;
    margin-bottom: 2.5rem;
}

#modal > div > img {
    height: 3.5rem;
    cursor: pointer;
    transition: all 1s;

}
#modal > div > img:hover{
    transform: rotate(90deg);
}


#modal > video{
    width: 100%;
}

#modal > img{
    width: 100%;
}

.displayNone{
    display: none;
}